@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/*                           General                            */

html{
    scroll-behavior: smooth;
}

body{

}

.flex{
    display: flex;
    gap: var(--gap, 2rem);
}

.nameLogo{
    width: 12%;
    height: 70px;
    margin-left: 20px;
}

span{
    color: rgb(100, 37, 247);
}

a{
    text-decoration: none;
    color: #000000;
}

li{
    list-style: none;
}

/*                            Intro Page                           */

#navigation{
    background-color: whitesmoke;
}

.navBar{
    height: 10vh;
    width: 100%;
    color: black;
    justify-content: space-between;
    align-items: center;
}

#landingPage{
    height: 90vh;
}

.landingContainer{
    padding: 15px;
    align-items: center;
    width: 100%;
    height: 100%;
}
.landingText{
    width: 35%;
    display: flex;
    
}

.landingText h2{
    font-size: 2vw;
}
.landingText h1{
    font-size: 7vw;
}

.landingimgContainer{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.landingImg{
    width: 550px;
    height: 500px;
    border-radius: 50%;
}

@media only screen and (max-width: 600px){}    