@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*                         Variables CSS                         */

:root {
  --header-height: 3.5rem;

  /*                             Colors                                 */
  --title-color: black;
  --text-color: hsl(207, 4%, 28%);
  --text-color-light: #533a71;
  --body-color: hsl(207, 4%, 99%);
  --container-color: hsl(207, 4%, 95%);

  --gradient-color: linear-gradient(
    180deg,
    hsla(207, 48%, 72%, 0),
    hsla(207, 65%, 65%, 1)
  );

  /*                         Font Size & Typegraph  (.5rem = 8px / 1rem = 16px               */

  --body-font: "Roboto", sans-serif;
  --title-font: "Lora", serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 18px;
  --small-font-size: .935rem;
  --smaller-font-size: 0.90rem;
  --tiny-font-size: 0.625rem;

  /*                         Font Weight                                                      */

  --font-medium: 500;
  --font-semi-bold: 600;

  /*                         Z-Index                                                      */

  --z-fixed: 100;
}

@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    --tiny-font-size: .688rem;
  }
}

/*                           General                            */

html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color:#d9e4f2;
  color: var(--text-color);
}
h1, h2, h3{
    color: var(--title-color);
    font-family: var(--title-font);
    font-weight: var(--font-medium);
}
.container {
  max-width: 1024px;
  margin-inline: 1.5rem;
}
.grid {
  display: grid;
  gap: 1.5rem;
}
.section {
  padding-block: 2.5rem;
}
.section__border {
  border-bottom: 1px solid var(--title-color);
  padding-bottom: 3.5rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}
.section__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 0.25rem;
}
.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-bottom: 3rem;
}
.main {
  overflow: hidden; /* For Animations */
}
.flex {
  display: flex;
  gap: var(--gap, 2rem);
}

a {
  text-decoration: none;
  color: #000000;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*                                        Header & Nav Page                                        */

.header {
  width: 100%;
  position: fixed;
  bottom: 2rem;
  left: 0;
  z-index: var(--z-fixed);
}
.nav{
  height: calc(var(--header-height) + .5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--body-color);
  box-shadow: 0 4px 20px hsla(207, 24%, 35%, .1);
  padding-inline: 1.5rem;
  border-radius: 3rem;
}
.nav__logo,
.nav__toggle,
.nav__close{
  color: var(--title-color);
}
.nav__logo {
  font-family: var(--title-font);
  font-weight: var(--font-medium);
}
.nav__toggle {
  display: flex;
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 1023px){
    .nav__menu{
        position: fixed;
        width: 95%;
        left: 0;
        right: 0;
        bottom: -60%;
        margin: 0 auto;
        background-color: var(--body-color);
        box-shadow: 0 4px 20px hsla(207, 24%, 35%, .1);
        padding: 2rem 1.5rem 5rem;
        border-radius: 2rem;
        transition: bottom .3s;
    }
}
.nav__list{
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    gap: 2rem 3rem;
}

.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .25rem;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    transition: color .3s;
}
.nav__link:hover{
    color: var(--title-color);
}
.nav__link i{
    font-size: 1.25rem;
}
.nav__close{
    position: absolute;
    right: 1.5rem;
    bottom: .7rem;
    font-size: 1.5rem;
    cursor: pointer;
}

/*            Show Menu           */
.show-menu{
    bottom: 2rem;
}



/*                                         Home Page                                              */

.home__container{
  row-gap: 4rem;
  padding-top: 2rem;
}
.home__data{
  row-gap: 1.5rem;
}
.home__title{
  text-align: center;
  font-size: var(--biggest-font-size);
  letter-spacing: .3px;
  margin-bottom: .5rem;
}
.home__blob{
  position: relative;
  width: 300px;
  height: 300px;
  background-color: var(--body-color);
  border: 2px solid var(--text-color-light);
  justify-self: center;
  border-radius: 50%;
  place-items: center;
}
.home__perfil{
  width: 280px;
  height: 280px;
  background: var(--gradient-color);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.home__perfil img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home__social{
  justify-self: center;
  display: flex;
  column-gap: 1.25rem;
}
.home__social-link{
  font-size: 1.25rem;
  color: var(--text-color-light);
  transition: color .3s;
}
.home__social-link:hover{
  color: black;
}
.home__info{
  display: grid;
  row-gap: 2rem;
}

.home__info-title{
  font-family: var(--body-font);
  font-size: var(--smaller-font-size);
  font-weight: 400;
  color: var(--text-color-light);
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}
.home__info-description,
.home__info-number{
  font-family: var(--title-font);
  color: var(--title-color);
  line-height: 1.5rem;
  
}
.home__info-description{
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.home__info-number{
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

#skills{
  padding-top: 4vh;
  height: 80vh;
  margin: 0 2rem;
  min-height: fit-content;
}

.icon{
  cursor: pointer;
  height: 2rem;
}
.about__container{
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.skills__details-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.section__border1{
  border-bottom: 1px solid var(--title-color);
  padding-bottom: 2.5rem;
}
.article__container{
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  row-gap: 4.5rem;
  justify-content: space-around;
}
.article__container1{
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  row-gap: 4.5rem;
  justify-content: space-around;
}
.article{
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 1.5rem;
}
.article__container h3{
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
}
.article__container p{
  font-size: var(--tiny-font-size);
}
.details__container{
  padding: 1.5rem;
  flex: 1;
  height: 400px;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.15rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*                                         Skills Section                                  */


.skills__title{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 2.5rem;
}
.skills__title i{
  font-size: 1rem;
}




.skills__name{
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
}
.skills__subtitle{
  font-size: var(--tiny-font-size);
  color: var(--text-color-light);
}


.skills__blob:hover img{
  animation: bounce-skills 1s ;
}

@keyframes bounce-skills {
  0%{
    transform: translate(0);
  }
  100%{
    transform: translateY(-6px);
  }
  
}


/*                                      New Service Page                                              */

.services__container{
  row-gap: 2.5rem;
  justify-content: center;
}
.services__card{
  position: relative;
  width: 390px;
  height: 300px;
  background-color: #ffff;
  text-align: center;
  padding: 3.5rem 1rem;
  border-radius: 10px;
}
.services__card i{
  display: block;
  font-size: 2rem;
  color: var(--title-color);
  margin-bottom: .75rem;
  transition: transform .8s;
  position: relative;
  top: -40px;
}
.services__title{
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: .5rem;
  position: relative;
  top: -40px;
}
.services__description{
  margin-bottom: 20px;
  position: relative;
  top: -40px;
  line-height: 1.2rem;
  padding: 0 5px;
}
.services__btn{
  font-size: var(--smaller-font-size);
  font-family: var(--title-font);
  border-radius: 15px;
  padding: .1rem .4rem;
  position: relative;
  top: -50px;
}
.services__border{
  width: 410px;
  height: 350px;
  border: 1.8px solid var(--text-color-light);
  border-radius: 10px;
  position: absolute;
  inset: 0;
  left: -10px;
  margin: auto;
  z-index: -1;
  transition: opacity .6s;
  opacity: 0;
}
.services__card:hover i{
  transform: rotateY(360deg);
}
.services__card:hover .services__border{
  opacity: 1;
}
.services__card:hover{
  background-color: hsla(0, 0%, 56%, 0.485);
  transition: ease-in .5s;
}

/*                                         Project Page                                              */

.projects__container{
  overflow: initial;
}
.projects__content{
  display: grid;
  justify-content: center;
}
.project__img{
  width: 350px;
  border-radius: .75rem;
  margin-bottom: 1.25rem;
}
.projects__subtitle{
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}
.projects__title{
  font-size: var(--h2-font-size);
  margin-bottom: 1.25rem;
  margin: .5rem 0 1.25rem;
}
.projects__description{
 width: 100%;
 font-size: var(--small-font-size);
 font-family: var(--title-font);
 margin-bottom: 10px;
}
.projects__button{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  color: var(--title-color);
  font-size: var(--small-font-size);
}
.projects__button i{
  font-size: 1rem;
  transition: transform .3s;
}
.projects__button:hover i{
  transform: translateX(.25rem);
}

/*                   Swiper class                 */
.projects__container .swiper-button-prev::after,
.projects__container .swiper-button-next::after{
  content: '';
}

.projects__container .swiper-button-prev,
.projects__container .swiper-button-next{
  width: initial;
  height: initial;
  margin: initial;
  font-size: 2.5rem;
  color: var(--title-color);
}

.projects__container .swiper-button-prev{
  left: 9rem;
  top: 12rem;
}
.projects__container .swiper-button-next{
  right: 9rem;
  top: 12rem;
}

.projects__container .swiper-slide{
  margin-bottom: 4.5rem;
}

.projects__container .swiper-pagination-bullets{
  bottom: 0;
}

.projects__container .swiper-pagination-bullet{
  background-color: var(--text-color-light);
  opacity: initial;
}
.projects__container .swiper-pagination-bullet-active{
  background-color: var(--title-color);
}

/*                                         Project Subsection                                          */
.project{
  text-align: center;
  background-color: #fdf4dc;
}
.services__btn i{
  transition: .3s;
}
.services__btn i:hover{
  transform: translateX(.25rem);
}
.projects__img{
  width: 232px;
  justify-self: center;
}



.testimonial__box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.testimonial-boxes{
  width: 500px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  background-color: #ffff;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
  border-radius: 10px;
}
.profile__img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 10px;
}
.profile__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.profile{
  display: flex;
  align-items: center;
}
.name__user{
  display: flex;
  flex-direction: column;
}
.name__user strong{
  color: #533a71;
  font-size: var(--body-font);
  letter-spacing: 0.5px;
}
.name__user span{
  color: var(--title-color);
  font-size: var(--small-font-size);
}
.reviews{
  color: #f9d71c;
}
.box__top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.client__comment p{
  font-size: var(--body-font);
  color: #5a5a5a;
}
.testimonial-boxes:hover{
  transform: translateY(-20px);
  transition: all ease .4s;
}

/*                                        New Contact Page                                              */
.contact__container{
  row-gap: 3.5rem;
}
.contact__title{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 2.5rem;
}
.contact__title i{
  font-size: 1rem;
  font-weight: initial;
}
.contact__info,
.contact__data,
.contact__form{
  display: grid;
}
.contact__info{
  row-gap: 2rem;
}
.contact__data{
  row-gap: .75rem;
}
.contact__data-title{
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}
.contact__data-info{
  font-size: var(--small-font-size);
  font-family: var(--title-font);
  color: var(--title-color);
}
.contact__button{
  width: max-content;
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  color: var(--title-color);
  font-size: var(--small-font-size);
}
.contact__button i{
  font-size: 1rem;
  transition: transform .3s;
}
.contact__button:hover i{
  transform: translateX(.25rem);
}
.contact__form{
  position: relative;
  row-gap: 2rem;
}
.contact__form-div{
  position: relative;
  height: 4rem;
}
.contact__form-input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--text-color-light);
  border-radius: 2rem;
  padding: 1.5rem;
  font-size: var(--normal-font-size);
  font-family: var(--title-font);
  color: var(--title-color);
  background: none;
  outline: none;
  z-index: 1;
}
.contact__form-tag{
  position: absolute;
  left: 1.25rem;
  z-index: 10;
  background-color: #d9e4f2;
  color: var(--title-color);
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  padding: .35rem;
  top: -10px;
}
.contact__form-area{
  height: 10rem;
}
.contact__form-area textarea{
  resize: none;
}
.contact__form .contact__button{
  border: none;
  background: none;
  font-size: var(--h2-font-size);
  font-family: var(--title-font);
  font-weight: var(--font-semi-bold);
  cursor: pointer;
  outline: none;
  margin-top: .75rem;
}
.contact__form .contact__button i{
  font-size: 1.5rem;
  font-weight: initial;
}

.contact__message{
  font-size: var(--small-font-size);
  position: absolute;
  bottom: 2rem;
  left: 1.5rem;
}

/*              Status Color                */
.color-red{
  color: hsl(4, 71%, 50%);
}
.color-blue{
  color: hsl(207, 56%, 45%);
}

/*                                         Footer Page                                              */
.footer__container{
  padding: 3rem 0 7rem;
  text-align: center;
}

.footer__container p{
  font-family: var(--title-font);
}

.footer__title{
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 1rem;
}

.footer__list,
.footer__social{
  display: flex;
  justify-content: center;
}

.footer__list{
  margin: 2.5rem 0;
  column-gap: 2.5rem;
}
.footer__link{
  color: var(--title-color);
}
.footer__link:hover{
  text-decoration: underline;
}
.footer__social{
  column-gap: 1.25rem;
}
.footer__social-link{
  font-size: 1.25rem;
  color: var(--title-color);
  transition: transform .3s;
}
.footer__social-link:hover{
  transform: translateY(-.15rem);
}

.footer__copy{
  display: block;
  margin-top: 4.5rem;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}



/*                                css for small screens                          */

@media(max-width: 430px){
  #skills{
    min-height: 128vh;
  }
  .about__container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2rem;
  }
}

@media (max-width: 1060px){
  .testimonial-boxes{
    width: 45%;
    padding: 10px 10px 20px 10px;
  }
}
@media(max-width: 790px){
  .testimonial-boxes{
    width: 100%;
  }
}

@media(max-width: 340px){
  .box__top{
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .reviews{
    margin-top: 10px;
  }
}
