@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/*                           General                            */

html{
    scroll-behavior: smooth;
}

body{
    background-color: #000000;
}

.flex{
    display: flex;
    gap: var(--gap, 2rem);
}

.nameLogo{
    width: 12%;
    height: 70px;
    margin-left: 20px;
}

span{
    color: rgb(100, 37, 247);
}

a{
    text-decoration: none;
    color: #000000;
}

li{
    list-style: none;
}

/*                            Intro Page                           */

#navigation{
    background-color: whitesmoke;
}

.navBar{
    height: 10vh;
    width: 100%;
    color: black;
    justify-content: space-between;
    align-items: center;
}

#introImg{
    height: 90vh;
}

.container{
    height: 100%;
    width: 100%;
}

.headerText{
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

.headerImg{
    width: 100%;
    height: 90vh;
}

.displayImg{
    width: 100%;
    height: 100%;
    object-fit:cover ;
    object-position: 30% 15%;
}

.headerText p{
    font-size: 25px;
    position: relative;
    bottom: 390px;
    left: 50px;
}

.headerText h1{
    font-size: 45px;
    position: relative;
    bottom: 380px;
    left: 50px;
}

.headerText h2{
    bottom: 370px;
    position: relative;
    left: 50px;
}

@media only screen and (max-width: 600px){}    