@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:wght@400;500&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --body-font: "Roboto", sans-serif;
    --title-font: "Lora", serif;

    --title-color: hsl(207, 4%, 16%);
    --text-color: hsl(207, 4%, 28%);
    --text-color-light: hsl(210, 4%, 64%);

    --gradient-color: linear-gradient(
    180deg,
    hsla(207, 48%, 72%, 0),
    hsla(207, 65%, 65%, 1)
    );

    --normal-font-size: 0.938rem;
    --small-font-size: .813rem;
    --h2-font-size: 1.25rem;
    --h1-font-size: 2rem;
}
body{
    min-height: 100vh;
    font-family: var(--title-font);
    font-size: var(--normal-font-size);
    background: var(--gradient-color);
}
a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}
li{
    list-style: none;
}

.section__border{
    border-bottom: 1px solid var(--title-color);
    padding-bottom: 3.5rem;
}

.web__nav{
    height: 10vh;
    font-family: var(--title-font);
  }
  .webnav__container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .webnav__list ul{
    display: flex;
    gap: 25px;
  }
  
  .webnav__list ul a:hover{
    border-bottom: 1px solid var(--title-color);
    padding-bottom: .2rem;
    width: 50%;
    transform: scale(110%);
    transition:all 300ms ease-in-out ;
  }
  .form__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.container{
    padding: 20px;
    margin-top: 2rem;
    position: relative;
    max-width: 700px;
    width: 100%;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);;
}
.container header{
    font-size: var(--h1-font-size);
    font-weight: 500;
    font-family: var(--title-font);
    color: var(--title-color);
    text-align: center;
}
.container .form{
    margin-top: 30px;
}
.form .input__box{
    width: 100%;
    margin-top: 20px;
}
.input__box label{
    color: var(--text-color);
}
.form :where(.input__box input, .select__box){
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 8px;
    outline: none;
    color: var(--text-color-light);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 0 15px;
}

.form .column{
    display: flex;
    column-gap: 15px;
}

.address :where(input, .select__box){
    margin-top: 15px;
}
.select__box select{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: var(--text-color-light);
    font-family: var(--);
    font-size: var(--normal-font-size);
}
.section__subtitle{
    display: block;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}
.website__info{
    padding-top: 10px;
    min-height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
}
.website__info textarea{
    width: 90%;
    margin-top: 10px;
    line-height: 1.5rem;
    height: 200px;
    padding: 15px;
    outline: none;
    border-radius: 8px;
    resize: none;
    font-family: var(--body-font);
}

.file-upload-input{
    font-family: var(--title-font);
}
.form :where(.service__option, .service){
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
    flex-wrap: wrap;
    margin-top: 1.5rem;
}
.form .service__container{
    margin-top: 20px;
}
.service__container h3{
    color: var(--text-color);
    font-size: var(--h2-font-size);
    font-weight: 500;
    margin-bottom: 10px;
}
.service__container p{
  text-align: start;
  font-size: 14px;
}
.form .service{
    column-gap: 5px; 
}
.form :where(.service input, .service label){
    cursor: pointer;
}
.form button{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    color: var(--title-color);
    border: none;
    background: none;
    font-size: var(--h2-font-size);
    font-family: var(--title-font);
    font-weight: var(--font-semi-bold);
    cursor: pointer;
    outline: none;
    margin-top: 3rem;
}

.footer__container{
    padding: 3rem 0 7rem;
    text-align: center;
  }
  
  .footer__container p{
    font-family: var(--title-font);
  }
  
  .footer__title{
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 1rem;
  }
  
  .footer__list,
  .footer__social{
    display: flex;
    justify-content: center;
  }
  
  .footer__list{
    margin: 2.5rem 0;
    column-gap: 2.5rem;
  }
  .footer__link{
    color: var(--title-color);
  }
  .footer__link:hover{
    text-decoration: underline;
  }
  .footer__social{
    column-gap: 1.25rem;
  }
  .footer__social-link{
    font-size: 1.25rem;
    color: var(--title-color);
    transition: transform .3s;
  }
  .footer__social-link:hover{
    transform: translateY(-.15rem);
  }
  
  .footer__copy{
    display: block;
    margin-top: 4.5rem;
    font-size: var(--smaller-font-size);
    color: black;
  }


@media(max-width: 340px){
    .web__nav{
      display: none;
    }
}

@media(max-width: 430px){
    .web__nav{
      display: none;
    }
}
@media screen and (max-width: 500px){
    .form .column {
        flex-wrap: wrap;
    }
    .form :where(.service__option, .service){
        row-gap: 18px;
    }
}